# Word Sense Disambiguation
Untuk tugas akhir mata kuliah NLP Semester Genap 2018/2019

## Prediction

_Notebook_ ini digunakan untuk membuat prediksi dari _testing set_. Prediksi dilakukan menggunakan model yang dibuat pada _notebook_ `Model-X.ipynb` dalam bentuk _pickle_ atau `Model-X.pkl`. Hasil prediksi akan ditulis ke dalam folder `predictions/` sesuai dengan format yang ditentukan.

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

## Read Model

In [1]:
# Import library
import pickle

In [ ]:
model_filename = 'Model-X.pkl' #M
clf = load

## Read Dataset

In [2]:
import os
path = '../dataset/testing_set/'
filenames = os.listdir(path)
filenames

['testing_data.csv']

In [3]:
df = pd.read_csv(path + filenames[0])
df.head()

    id   word                                            kalimat
0   13  asing  Para pecinta film indonesia atau tv, pasti tak...
1   19  asing  Pasti telinga kita merasa asing dan aneh mende...
2   41  asing  Warga negara asing atau warga negara Persemakm...
3   44  asing  Selama lima belas tahun memerintah, Sultan Mah...
4  121  asing  Yang kemudian diikuti dengan donat-donat waral...

## Preprocessing

Pada bagian ini, akan dilakukan tahap prapemrosesan terhadap data _testing_. Tahap yang dilakukan disesuaikan dengan hal-hal yang sudah dilakukan pada pembentukan model.

In [4]:
raise NotImplementedError
X_test = None

NotImplementedError:

## Predict

In [ ]:
pred = clf.predict(X_test)
df['sense'] = pred

In [ ]:
try: